body {
  background-image: url("https://thumbs.dreamstime.com/z/vista-superior-da-mesa-de-escrit%C3%B3rio-com-pena-bloco-de-notas-nota-e-calculadora-69416319.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1350px 800px;
}